@font-face {
	font-family: 'AgaveNerdFontMono';
	src: url('fonts/AgaveNerdFontMono-Regular.ttf') format("truetype");
}
:root {
	--text: #000;
	--bg: #fff;
}

body {
	/* maybe change in the future */
	margin: 0;
	background-color: var(--bg);
	color: var(--text);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #fff;
		--bg: #000;
	}
}


.navbar {
	background-color: #333;
	position: relative;
	z-index: 999;
	font-family: AgaveNerdFontMono;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #36454F;
}

.navbar li {
	display: inline-block;
}
.navbar li:hover {
	background-color: #2e383f;
}

/* hidden */
.navbar-hbutton {
	color: white;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

/* no text button */
.navbar-ntbutton {
	position: absolute;
	padding: 18px 20px;
}


/* Style the dropdown menu */
.navbar ul ul {
	position: absolute;
	top: 100%;
	display: none;
}

.navbar ul ul li {
	display: block;
}

.navbar li:hover ul {
	display: block;
}

/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
	background-color: #2e383f;
}


.no-style {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
}

.stacked {
	position: absolute;
}

.middle-aligned {
	display: inline-block;
	vertical-align: middle;
}

.right-aligned {
	position: absolute;
	right: 0;
}


#bg-btn {
	top: 5px;
	right: 8px;
}
#bg-svg {
	vertical-align: middle;
	display: inline-block;

	width: 24px;
}