@font-face {
	font-family: 'AgaveNerdFontMono';
	src: url("fonts/AgaveNerdFontMono-Regular.ttf") format("truetype");
}
:root {
	--text: #000;
	--bg: #fff;

	--box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

body {
	/* maybe change in the future */
	margin: 0;
	background-color: var(--bg);
	color: var(--text);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #fff;
		--bg: #000;

		--box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 16px, rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 255, 0.1) 0px 16px 56px;
	}
}


#cover {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
	z-index: 9999;
}


.navbar {
	animation-name: navbar-animation;
	animation-duration: 600ms;

	background-color: #333;
	position: relative;
	z-index: 999;
	font-family: AgaveNerdFontMono;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #36454F;
}

.navbar li {
	display: inline-block;
}
.navbar li:hover {
	background-color: #2e383f;
}

/* hidden */
.navbar-hbutton {
	color: white;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

/* no text button */
.navbar-ntbutton {
	position: absolute;
	padding: 19px 20px;
}


/* Style the dropdown menu */
.navbar ul ul {
	position: absolute;
	top: 100%;
	display: none;
}

.navbar ul ul li {
	display: block;
}

.navbar li:hover ul {
	display: block;
}

/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
	background-color: #2e383f;
}


.no-style {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
}

.right-aligned {
	position: absolute;
	right: 0;
}

.center-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-container {
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-box {
    box-shadow: var(--box-shadow);

    transition: all 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

	flex: 0 0 400px;
	@media (max-width: 576px) {
		flex: 0 0 300px;
	}
}


#bg-btn {
	top: 7px;
	right: 9px;
}
#bg-svg {
	transition: all 500ms;
	vertical-align: middle;
	display: inline-block;

	width: 24px;
}


footer {
	animation-name: footer-animation;
	animation-duration: 600ms;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
	font-family: AgaveNerdFontMono;
}


/* there must be a better way lmao */
@keyframes footer-animation {
	0% {
		position: fixed;
		bottom: -20px;
		opacity: 1;
	}
	20% {
		position: fixed;
		bottom: -15px;
		opacity: 1;
	}
	40% {
		position: fixed;
		bottom: -10px;
		opacity: 1;
	}
	80% {
		position: fixed;
		bottom: -5px;
		opacity: 1;
	}
	100% {
		position: fixed;
		bottom: 0;
		opacity: 1;
	}
}

/* broken, just like half this website lmao */
/* @keyframes navbar-animation {
	0% {
		position: fixed;
		top: -20px;
		opacity: 1;
	}
	20% {
		position: fixed;
		top: -15px;
		opacity: 1;
	}
	40% {
		position: fixed;
		top: -10px;
		opacity: 1;
	}
	80% {
		position: fixed;
		top: -5px;
		opacity: 1;
	}
	100% {
		position: fixed;
		top: 0;
		opacity: 1;
	}
} */