#contact-info {
    box-shadow: var(--box-shadow);

    transition: all 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    flex: 0 0 400px;

    @media (max-width: 576px) {
        flex: 0 0 auto;
	}
}

#contact-info > span {
    display: block;
}

.x-svg {
    vertical-align: middle;
	display: inline-block;

	width: 24px;
}
